
.test_d8-question{
margin:0 0 50px;
}

#test_d8-nav{
position:absolute;
bottom:0;
left:50%;
width:200px;
transform:translateX(-50%);
display:flex;
}
#test_d8-question-prev,
#test_d8-question-next{
flex:1;
}
#test_d8-question-prev[disabled],
#test_d8-question-next[disabled]{
pointer-events:none;
}
#test_d8-question-curr{
display:block;
padding:5px;
margin:auto;
text-align:center;
flex:2;
}
#test_d8-submit{
position:absolute;
bottom:0;
right:15px;
}

#test_d8-navisual{
margin:0 0 20px;
}
.test_d8-navisual-item{
display:block;
width:20px;
height:20px;
border-radius:50%;
line-height:20px;
text-align:center;
font-size:0.825em;
cursor:pointer;
float:left;
margin:2px;
color:#333;
background:#eee;
}
.test_d8-navisual-item.answered{
color:#fff;
background:#3cf;
}

.test_d8-hidden{
display:none;
}

